.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: flex-start;
}

.cards__item {
  flex: 0 0 278px; 
  list-style: none;
}

.card {
  background-color: #dfc7c2; 
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 500px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.card__image {
  width: 70%;
  height: 300px;
  margin-left: 40px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}

.card__title{
  color: #faf6f6;
}

.bookmark_btn {
  height: 50px;
  width: 50px;
  margin-left: 200px;
  margin-top: -30px;
  margin-bottom: -20px;
  background-color: #321d1d;
  color: #faf6f6;
}

.bookmark_btn.active{
  background-color: #a06262;
}

.card__content {
  padding: 1rem;
}

.card__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #321d1d;
}

.card__text {
  color: #4b5563;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.section-header {
  min-height: 62px;
  margin-bottom: 1rem;
}

.form-input{
  width: 700px;
  border-radius: 20px;
}

.form-select{
  width: 300px;
  border-radius: 20px;
  color: #321d1d;
  font-weight: 600;
}

.btnEdit{
  width: 150px;
  background-color: #dfc7c2;
  color: #321d1d;
}

.btnDetails{
  width: 150px;
  color: #faf6f6;
}

.btnRemove{
  width: 70px;
}

.btnAddFb{
  width: 250px;
}

.form-select-featured{
  width: 500px;
  border-radius: 20px;
}

.btnAdd{
  margin-bottom: 50px;
  width: 200px;
  background-color: #dfc7c2;
  color: #321d1d;

}

.book-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  padding: 16px;
}

.book-image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s;
}

.book-image:hover {
  transform: scale(1.05);
}

.btnFeatured {
  margin-top: 8px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.btnFeatured.add {
  background-color: #321d1d;
  color: white;
  width: 70px;
  border: none;
  border-radius: 20px;
}

.btnFeatured.add:hover{
  background-color: #dfc7c2;
  color: #321d1d;
}

.btnFeatured.remove {
  background-color: #321d1d;
  color: white;
  width: 70px;
  border: none;
  border-radius: 20px;
}

.btnFeatured.remove:hover{
  background-color: #dfc7c2;
  color: #321d1d;
}

.btnCloseRecommended{
  color: white;
}

.select-for-featured{
  color: #321d1d;
  font-family: Bebas Neue;
  font-size: 2rem;
}

.btnSave{
  width: 120px;
  background-color: #dfc7c2;
  color: #321d1d;
}

.btnSave:hover{
  color: #dfc7c2;
}

.users-library-header, .label-user-profile{
  font-family: Bebas Neue;
  font-size: 2rem;
  color: #faf6f6;
  text-align: center;
}

.sign-up{
  color: #321d1d;
}

.btn-sign-up{
  color: #faf6f6;
}