.book-card {
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #dfc7c2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Times New Roman', Times, serif;
}

.book-card.fade-in {
  animation: fadeInScale 0.3s ease forwards;
}

.book-card.fade-out {
  animation: fadeOutScale 0.3s ease forwards;
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.book-card h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.book-card input,
.book-card textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f6eeed;
  color: #624345;
  margin: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.book-card textarea {
  min-height: 80px;
  resize: vertical;
  outline: none;
  height: 200px;
}

.row {
  display: flex;
  gap: 1rem;
}

.row input {
  flex: 1;
}

.photo-preview img {
  border-radius: 6px;
  display: block;
  margin: 0.5rem auto;
  width: 180px;
}

.edit-book-header{
  color: #321d1d;
  text-align: center;
  font-size: 2.5rem;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.genres label {
  font-size: 1.3rem; 
  display: flex;
  align-items: center;
  gap: 0.3rem; 
}

.genres input[type="checkbox"] {
  width: 16px;   
  height: 16px;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
