@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-copper-rust-50);
}

main {
  min-height: 500px; 
}

.container {
  position: sticky;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: var(--color-copper-rust-100);
  padding: 5px;
  border-radius: 30px;
  width: 1500px;
  height: 60px;
  margin: 0 auto;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
  color: var(--color-copper-rust-500);
  flex-grow: 1;
  white-space: nowrap;
  transition: color 0.15s ease-in;
  width: 200px;
  height: 100%;                
  line-height: normal;        
}
.tab:hover {
  color: var(--color-copper-rust-800);
}

.glider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; 
  width: calc(100% / 5); 
  background-color: var(--color-copper-rust-300);
  border-radius: 25px;
  z-index: 1;
  transition: transform 0.25s ease-out;
}

#radio-1:checked ~ .glider { transform: translateX(0%); }
#radio-2:checked ~ .glider { transform: translateX(100%); }
#radio-3:checked ~ .glider { transform: translateX(200%); }
#radio-4:checked ~ .glider { transform: translateX(300%); }
#radio-5:checked ~ .glider { transform: translateX(400%); }


@media (max-width: 700px) {
  .tabs {
    flex-direction: column; 
    align-items: stretch; 
    height: auto; 
    padding: 5px; 
    width: 90%; 
    max-width: 300px; 
  }
  .tab {
    width: 100%; 
    margin-bottom: 0.5rem;
    height: 50px;
    flex-grow: 0; 
  }
  .tab:last-child {
    margin-bottom: 0; 
  }
  .glider {
    display: none; 
  }
}